#minefield{
    
    margin: 20px auto;

    .row {
        background-color: blue;
        margin: 0px;    
        padding: 0px;  
        display:flex;  
    }
    .cell {
        background-color: lightgray;
        border: 1px solid black;        
        margin: 0px;
        height: 25px;
        padding: 0px;
        width: 25px;
        max-width: 25px !important;
    }

}